In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy
from sklearn.cluster import KMeans

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [3]:
df=pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [5]:
x=df.iloc[:,[3,4]]
x.head()

   Annual Income (k$)  Spending Score (1-100)
0                  15                      39
1                  15                      81
2                  16                       6
3                  16                      77
4                  17                      40

In [7]:
from sklearn.preprocessing import MinMaxScaler
minscale=MinMaxScaler()
x_scaled=minscale.fit_transform(x)
x_scaled

array([[0.        , 0.3877551 ],
       [0.        , 0.81632653],
       [0.00819672, 0.05102041],
       [0.00819672, 0.7755102 ],
       [0.01639344, 0.39795918],
       [0.01639344, 0.76530612],
       [0.02459016, 0.05102041],
       [0.02459016, 0.94897959],
       [0.03278689, 0.02040816],
       [0.03278689, 0.7244898 ],
       [0.03278689, 0.13265306],
       [0.03278689, 1.        ],
       [0.04098361, 0.14285714],
       [0.04098361, 0.7755102 ],
       [0.04098361, 0.12244898],
       [0.04098361, 0.79591837],
       [0.04918033, 0.34693878],
       [0.04918033, 0.66326531],
       [0.06557377, 0.28571429],
       [0.06557377, 0.98979592],
       [0.07377049, 0.34693878],
       [0.07377049, 0.73469388],
       [0.08196721, 0.04081633],
       [0.08196721, 0.73469388],
       [0.10655738, 0.13265306],
       [0.10655738, 0.82653061],
       [0.10655738, 0.31632653],
       [0.10655738, 0.6122449 ],
       [0.1147541 , 0.30612245],
       [0.1147541 , 0.87755102],
       [0.12295082, 0.03061224],
       [0.12295082, 0.73469388],
       [0.14754098, 0.03061224],
       [0.14754098, 0.92857143],
       [0.14754098, 0.13265306],
       [0.14754098, 0.81632653],
       [0.1557377 , 0.16326531],
       [0.1557377 , 0.73469388],
       [0.18032787, 0.25510204],
       [0.18032787, 0.75510204],
       [0.18852459, 0.34693878],
       [0.18852459, 0.92857143],
       [0.19672131, 0.35714286],
       [0.19672131, 0.6122449 ],
       [0.19672131, 0.2755102 ],
       [0.19672131, 0.65306122],
       [0.20491803, 0.55102041],
       [0.20491803, 0.46938776],
       [0.20491803, 0.41836735],
       [0.20491803, 0.41836735],
       [0.22131148, 0.52040816],
       [0.22131148, 0.60204082],
       [0.2295082 , 0.54081633],
       [0.2295082 , 0.60204082],
       [0.2295082 , 0.44897959],
       [0.2295082 , 0.40816327],
       [0.23770492, 0.5       ],
       [0.23770492, 0.45918367],
       [0.25409836, 0.51020408],
       [0.25409836, 0.45918367],
       [0.25409836, 0.56122449],
       [0.25409836, 0.55102041],
       [0.26229508, 0.52040816],
       [0.26229508, 0.59183673],
       [0.2704918 , 0.51020408],
       [0.2704918 , 0.59183673],
       [0.2704918 , 0.5       ],
       [0.2704918 , 0.47959184],
       [0.2704918 , 0.59183673],
       [0.2704918 , 0.46938776],
       [0.27868852, 0.55102041],
       [0.27868852, 0.41836735],
       [0.28688525, 0.48979592],
       [0.28688525, 0.56122449],
       [0.31967213, 0.46938776],
       [0.31967213, 0.54081633],
       [0.31967213, 0.53061224],
       [0.31967213, 0.47959184],
       [0.31967213, 0.52040816],
       [0.31967213, 0.41836735],
       [0.31967213, 0.51020408],
       [0.31967213, 0.55102041],
       [0.31967213, 0.40816327],
       [0.31967213, 0.43877551],
       [0.31967213, 0.57142857],
       [0.31967213, 0.45918367],
       [0.3442623 , 0.58163265],
       [0.3442623 , 0.55102041],
       [0.35245902, 0.60204082],
       [0.35245902, 0.45918367],
       [0.36065574, 0.55102041],
       [0.36065574, 0.40816327],
       [0.36885246, 0.48979592],
       [0.36885246, 0.39795918],
       [0.36885246, 0.41836735],
       [0.36885246, 0.52040816],
       [0.36885246, 0.46938776],
       [0.36885246, 0.5       ],
       [0.37704918, 0.41836735],
       [0.37704918, 0.48979592],
       [0.3852459 , 0.40816327],
       [0.3852459 , 0.47959184],
       [0.3852459 , 0.59183673],
       [0.3852459 , 0.55102041],
       [0.3852459 , 0.56122449],
       [0.3852459 , 0.41836735],
       [0.39344262, 0.5       ],
       [0.39344262, 0.45918367],
       [0.39344262, 0.42857143],
       [0.39344262, 0.47959184],
       [0.39344262, 0.52040816],
       [0.39344262, 0.54081633],
       [0.40163934, 0.41836735],
       [0.40163934, 0.45918367],
       [0.40983607, 0.47959184],
       [0.40983607, 0.5       ],
       [0.40983607, 0.42857143],
       [0.40983607, 0.59183673],
       [0.42622951, 0.42857143],
       [0.42622951, 0.57142857],
       [0.42622951, 0.56122449],
       [0.42622951, 0.39795918],
       [0.44262295, 0.58163265],
       [0.44262295, 0.91836735],
       [0.45081967, 0.28571429],
       [0.45081967, 0.7755102 ],
       [0.45901639, 0.34693878],
       [0.45901639, 0.95918367],
       [0.45901639, 0.10204082],
       [0.45901639, 0.75510204],
       [0.45901639, 0.08163265],
       [0.45901639, 0.75510204],
       [0.46721311, 0.33673469],
       [0.46721311, 0.71428571],
       [0.47540984, 0.04081633],
       [0.47540984, 0.8877551 ],
       [0.47540984, 0.06122449],
       [0.47540984, 0.73469388],
       [0.48360656, 0.09183673],
       [0.48360656, 0.7244898 ],
       [0.49180328, 0.04081633],
       [0.49180328, 0.93877551],
       [0.5       , 0.39795918],
       [0.5       , 0.87755102],
       [0.50819672, 0.1122449 ],
       [0.50819672, 0.97959184],
       [0.50819672, 0.35714286],
       [0.50819672, 0.74489796],
       [0.51639344, 0.21428571],
       [0.51639344, 0.90816327],
       [0.51639344, 0.16326531],
       [0.51639344, 0.8877551 ],
       [0.51639344, 0.19387755],
       [0.51639344, 0.76530612],
       [0.51639344, 0.15306122],
       [0.51639344, 0.89795918],
       [0.51639344, 0.        ],
       [0.51639344, 0.78571429],
       [0.51639344, 0.        ],
       [0.51639344, 0.73469388],
       [0.52459016, 0.34693878],
       [0.52459016, 0.83673469],
       [0.54098361, 0.04081633],
       [0.54098361, 0.93877551],
       [0.57377049, 0.25510204],
       [0.57377049, 0.75510204],
       [0.58196721, 0.19387755],
       [0.58196721, 0.95918367],
       [0.59016393, 0.26530612],
       [0.59016393, 0.63265306],
       [0.59016393, 0.12244898],
       [0.59016393, 0.75510204],
       [0.59016393, 0.09183673],
       [0.59016393, 0.92857143],
       [0.59836066, 0.12244898],
       [0.59836066, 0.86734694],
       [0.59836066, 0.14285714],
       [0.59836066, 0.69387755],
       [0.63934426, 0.13265306],
       [0.63934426, 0.90816327],
       [0.67213115, 0.31632653],
       [0.67213115, 0.86734694],
       [0.68032787, 0.14285714],
       [0.68032787, 0.8877551 ],
       [0.68852459, 0.3877551 ],
       [0.68852459, 0.97959184],
       [0.70491803, 0.23469388],
       [0.70491803, 0.68367347],
       [0.72131148, 0.16326531],
       [0.72131148, 0.85714286],
       [0.72131148, 0.2244898 ],
       [0.72131148, 0.69387755],
       [0.80327869, 0.07142857],
       [0.80327869, 0.91836735],
       [0.86065574, 0.15306122],
       [0.86065574, 0.79591837],
       [0.90983607, 0.2755102 ],
       [0.90983607, 0.74489796],
       [1.        , 0.17346939],
       [1.        , 0.83673469]])

In [10]:
df_scaled=pd.DataFrame(x_scaled,columns=['Annual Income','Spending'])
df_scaled.head()

   Annual Income  Spending
0       0.000000  0.387755
1       0.000000  0.816327
2       0.008197  0.051020
3       0.008197  0.775510
4       0.016393  0.397959

In [12]:
kmeans=KMeans(n_clusters=5)
kmeans.fit(df_scaled)

KMeans(n_clusters=5)

In [16]:
y_kmeans=kmeans.fit_predict(x)
y_kmeans

array([0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2,
       0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 1,
       0, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 4, 3, 1, 3, 4, 3, 4, 3,
       1, 3, 4, 3, 4, 3, 4, 3, 4, 3, 1, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3,
       4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3,
       4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3,
       4, 3], dtype=int32)

In [17]:
kmeans.cluster_centers_

array([[26.30434783, 20.91304348],
       [55.2962963 , 49.51851852],
       [25.72727273, 79.36363636],
       [86.53846154, 82.12820513],
       [88.2       , 17.11428571]])